body {
    background-color: #333;
    color: #EEE;
    margin: 0;
}

.divOne {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.divTwo {
    display: flex;
    align-items: center;
}