body {
    background-color: #333;
    color: #EEE;
    margin: 0;
}
/* Coming Soon CSS */
    h1 {
        z-index: 1;
    }
    .divOne {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
    }
    .divTwo {
        display: flex;
        align-items: center;
    }
    .divCog {
        position: absolute;
        top: 30%;
    }
    .fa-cog {
        margin-left: .3rem;
        font-size: 18rem;
        animation: rotate linear 10s infinite;
        color: black;
        margin: 0;
        opacity: .15;
    }
    @keyframes rotate {
        0% {transform: rotate(0deg)}
        100% {transform: rotate(360deg)}
        }
/* End of Coming Soon CSS */
nav {
    background-color: #444;
    display: flex;
    flex-direction: column;
}